<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- MyGet feed for ImageSharp -->
    <add key="imagesharp" value="https://www.myget.org/F/sixlabors/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>