@model WeFiBox.Web.Controllers.FileId

@{
    ViewBag.Title = "Diashow";
}

<style>
    body {
        background-color: black;
        color: white;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <img id="image" src="slideshow/image/@Model.File">
</body>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.4.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery">
</script>
<script type="text/javascript">
  var id = '@Model.File';
  setInterval(function() {
    $.get('slideshow/next/' + id, function(data){
      id = data.file;
      $('#image').attr('src', 'slideshow/image/' + id);
    })
  }, 2000);
</script>
</html>

