@model WeFiBox.Web.Controllers.SlideshowInit

@{
    ViewBag.Title = "Diashow";
}

<style>
    body {
        background-color: black;
        height: 100%;
        width: 100%;
        margin: 0px;  /* Render frameless in the middle */
    }
    #container {
        height: 100%;
        width: 100%;
        position: relative;
    }
    #image {
        position:absolute;
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        margin:auto;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
  <div id="container">
    <img id="image" src="slideshow/image/@Model.File" align="middle">
  </div>
</body>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.4.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery">
</script>
<script type="text/javascript">
  var latest = '@Model.File'; // Latest picture known to client
  setInterval(function() {
    $.get('slideshow/next/' + latest, function(data){ 
      // Show new image
      $('#image').attr('src', 'slideshow/image/' + data.file);
      if(data.file > latest)
        latest = data.file; // Update latest if response is newer
    });
  }, @Model.RotationMs);
</script>
</html>

