@{
    ViewBag.Title = "Slideshow";
    Layout = "";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/slideshow.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/slideshow.min.css" />
    </environment>
</head>
<body>
    <div id="image"></div>

    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>

    <environment names="Development">
        <script src="~/js/slideshow.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/slideshow.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>