input[type="file"]#upload-input {
    display: none;
}

.upload-form {
    margin: 25px;
    text-align: center;

    .upload-label {
        margin-bottom: 0px;
    }
}

.file-list {
    margin-top: 10px;
    text-align: center;

    .image-container {
        display:inline-block;
        border:1px solid lightgray;
        padding:5px;
        margin-bottom: 5px;

        .preview {
            width: 260px;
        }

        .image-actions {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            height: 40px;

            .action-buttons {

            }

            .progress {
                margin-top: 5px;
                margin-bottom: 0px;
            }
        }
    }
}