@{
    ViewData["Title"] = "Start";
}

@section scripts {
<environment names="Development">
    <script src="~/js/upload.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/upload.min.js"></script>
</environment>
}

<h2>Willkommen</h2>

Bitte wählen Sie Bilder, die Sie mit den anderen Gästen teilen wollen.

<div class="image-upload-spinner" data-bind="visible: false">
    <i class="fa fa-spinner fa-pulse fa-4x fa-fw fa-4"></i>
    <span class="sr-only">Lade...</span>
</div>

<div class="image-uploader animated zoomIn" data-bind="visible: true" style="display: none;">
    <form class="upload-form" enctype="multipart/form-data" data-bind="submit: uploadImages">
        <label class="btn btn-primary btn-lg upload-label">
            <input type="file" data-bind="event:{ change: onFileSelectedEvent }" multiple accept="image/jpeg, image/png">
            <i class="fa fa-picture-o"></i> Wählen
        </label>

        <button type="submit" class="btn btn-success btn-lg" data-bind="enable: (imageUploads().length > 0 && isUploading() == false)">
            <i class="fa fa-upload"></i> Senden 
        </button>
    </form>

    <div class="file-list-spinner" data-bind="visible: isLoadingFileList()">
        <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
        <span class="sr-only">Lade...</span>
    </div>

    <div class="file-list" data-bind="visible: isLoadingFileList() == false">
        <div data-bind="foreach: imageUploads">
            <div class="image-container animated fadeIn">
                <a class="image-link" data-bind="attr: { 'href': data }">
                    <img class="preview" data-bind="attr:{src: data}" />
                </a>
                <div class="image-actions">
                    <div class="action-buttons" data-bind="visible: isUploading() == false">
                        <button class="btn btn-danger" data-bind="click: $parent.removeImage">
                            <i class="fa fa-times"></i> Löschen
                        </button>
                        <button class="btn btn-success" data-bind="click: $parent.uploadImage">
                            <i class="fa fa-upload"></i> Senden
                        </button>
                        
                    </div>
                    <div class="progress" data-bind="visible: isUploading()">
                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" data-bind="style: { width: progress() + '%' }, attr: { 'aria-valuenow': progress() }"  aria-valuemin="0" aria-valuemax="100" >
                            <span data-bind="text: progress() + ' %'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>