@model PartyWifi.Server.Models.FileListEntry

@{
    var units = new [] {"B", "KB", "MB"};
    var power = 0;
    var size = (double)Model.Size;
    while (size >= 1024)
    {
        power++;
        size /= 1024;  
    }
}
<tr>
    <td>
      <a class="image-link" href="/image/original/@Model.Identifier">
        <img width="155" src="/image/thumbnail/@Model.Identifier"/>
      </a>
    </td>
    <td class="hidden-sm-down">@Model.Identifier</td>
    <td>@size.ToString("F2") @units[power]</td>
    <td class="hidden-sm-down">@Model.UploadDate</td>
    <td>
      <a class="btn btn-lg" href="/image/original/@Model.Identifier" download>
        <span class="fa fa-download"></span>
      </a>
    </td>
</tr>