@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewBag.Title = "Bilder";
    Layout = "_Layout";
}

@section scripts {
    <environment names="Development">
        <script src="~/js/imagelist.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/imagelist.min.js"></script>
    </environment>
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Bild</th>
                <th class="hidden-sm-down">Datum</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: { data: images, afterRender: imagesUpdated }">
            <tr>
                <td>
                    <a class="image-link" data-bind="attr: {href: '/api/images/' + identifier + '/original'}">
                        <img width="155" data-bind="attr: {src: '/api/images/' + identifier + '/thumbnail'}" />
                    </a>
                </td>
                <td class="hidden-sm-down" data-bind="text: moment(uploadDate).format('LLL') "></td>
               
                <td>
                    <a class="btn btn-primary" target="_blank" href="#" data-bind="attr: {href: '/api/images/' + identifier + '/original'}" download>
                        <i class="fa fa-download"></i>
                    </a>
                    @{
                        if (ViewBag.IsAuthorized)
                        {
                            <button class="btn btn-info">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button class="btn btn-danger" data-bind="click: $parent.remove, enable: isDeleted() == false">
                                <i class="fa fa-trash"></i>
                            </button>
                        }
                    }
                </td>
            </tr>
            </tbody>
        </table>

        <div class="file-list-spinner" data-bind="visible: isLoading">
            <i class="fa fa-spinner fa-pulse fa-4x fa-fw fa-4"></i>
            <span class="sr-only">Lade...</span>
        </div>
    </div>
</div>