@model PartyWifi.Server.Models.FileList

@{
    ViewBag.Title = "Datei-Liste";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

@Html.Partial("Pagination", Model)

<table class="table table-striped">
    <thead>
    <tr>
        <th>Bild</th>
        <th class="hidden-xs-down hidden-sm-down">Id</th>
        <th>Größe</th>
        <th class="hidden-xs-down hidden-sm-down">Datum</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
        @{
            foreach (var file in Model.Files)
            {
                @Html.Partial("FileEntry", file)
            }
        }
    </tbody>
</table>

@Html.Partial("Pagination", Model)